<p> Refund Policy</p>

<p> Returns</p>

<p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can&iacute;t offer you a refund or exchange.</p>

<p> To complete your return, we require a receipt or proof of purchase.</p>

<p>Refunds (if applicable)</p>

<p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</p>

<p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</p>

<p> Late or missing refunds (if applicable)</p>

<p>If you haven&iacute;t received a refund yet, first check your bank account again.</p>

<p>Then contact your credit card company, it may take some time before your refund is officially posted.</p>

<p>Next contact your bank. There is often some processing time before a refund is posted.</p>

<p>If you&iacute;ve done all of this and you still have not received your refund yet, please contact us at contacteduba@mail.com.</p>

<p> </p>